/* main */

#spanExample {
    color: #45A29E;
}

html {
    background-color: #0B0C10;
    color: #45A29E;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    font-family: Helvetica, Arial, sans-serif;
}

#mainHead{
    background-color: #C5C6C7;
    color: #1F2833;
}

body {
    margin: 0;
}

main, footer {
    margin: 2%;
    padding: 2vw
}

h1, h2 {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    font-family: Georgia, Garamond, serif;
    color: #C5C6C7;
}

h1 {
    text-align: center;
}

.logo {
    max-width: 2.5vw;
    max-height: 2.5vw;
}

li {
    color: #C5C6C7;
}

a, a:visited {
    color: #45A29E;
}

a:hover, a:active {
    color: #66FCF1;
}

footer {
    display: flex;
    flex-direction: column;
}

#git {
    background-color: #C5C6C7;
}

.button {
    max-width: 40%;
    max-height: 100%;
    border-color: #2b2b2b;
    border-width: 100%;
    border-style: solid;
}

#flex {
    padding: 5%;
    border-color: #2b2b2b;
    border-width: 100%;
    border-style: solid;
    border-radius: 30%;
}

.nava, .nava:visited, .nava:hover, .nava:active {
    color: #1F2833;
    text-underline-offset: -250%;
}

/* Form */

#formHTML {
    background-color: #0B0C10;
    color: #45A29E;
}

.formHead {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 75%;
}

legend {
    font-family: Helvetica, Arial, sans-serif;
}

#flexform {
    color: #C5C6C7;
    display: flex;
}

fieldset {
    color: #C5C6C7;
}

.red {
    color: red;
}

#submit {
    margin-top: 1%;
}

#opinion {
    width: 33%;
    max-width: 33%;
    height: 10vw;
    max-height: 10vw;
}

#home {
    max-width: 50px;
    max-height: 50px;
}
